*{
    margin: 0;
    padding: 0;
    background-color: beige;
}

.navbar{
    width: calc(100vw - 40px);
    height: 50px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.header{
    width: auto;
    height: 50px;
    display: flex;
}

img[id="traffic_icon"]{
    height: 50px;
}

p[id='project_name']{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

span[id='red']{
    color: red;
}

span[id='yellow']{
    color: rgb(157, 157, 28);
}

span[id='green']{
    color: green;
}

img[id='menu']{
    height: 40px;
    border-radius: 50px;
    transition: 0.2s ease-in-out
}

img[id='menu']:hover{
    filter: invert(100%);
}

.main{
    width: calc(100vw - 40px);
    background: linear-gradient(to top, rgba(27, 18, 18, 0.671)100%, rgba(131, 129, 129, 0.578)100%),
                linear-gradient(to right, rgb(239, 234, 234) 0%, rgba(255, 255, 255, 0.284) 70%),
                url(traffic.png); 
    background-position: center;
    background-size: cover;
    height: calc(100vh - 70px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
