*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: #070828;
    height: 100vh;
}

.menu{
    position: absolute;
    right: 10px;
    top: 70px;
    background-color: white;
    width: 250px;
    height: 70px;
    border-radius: 10px;
    display: none;
}

ul{
    margin: auto;
    height: auto;
    width: auto;
}

ul li{
    list-style: none;
    align-items: center;
    display: flex;
    height: 30px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

ul li:hover{
    background-color: gray;
}

ul li a{
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    height: auto;
    transition: 0.2s ease-in-out;
}

ul li a:hover{
    color: white;
}

.navbar{
    width: calc(100vw - 40px);
    height: 80px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.header{
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
}

img[id="traffic_icon"]{
    height: 50px;
}

h1[id=project_name]{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img[id='menu_icon']{
    height: 40px;
    border-radius: 5px;
    filter: invert(100%);
    transition: 0.2s ease-in-out
}

img[id='menu_icon']:hover{
    filter: none;
}

.introduction{
    width: calc(100vw - 40px);
    background: linear-gradient(to top, rgba(27, 18, 18, 0.671)100%, rgba(131, 129, 129, 0.578)100%), url(traffic.jpg); 
    background-position: center;
    background-size: cover;
    height: calc(100vh - 100px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;  
    justify-content: left;  
}

.content{
    margin-left: 50px;
}

h1[id=H1_content]{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

p[id=specific_content]{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 1000px;
}

