*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0%;
    height: 100vh;
    width: 100vw;
}

.blank{
    background-color: #070828;
    height: 10px;
}
.loadingBar{
    background-color: #070828;
    height: auto;
    width: 100vw;
}

.loading_bar{
    margin-left: 10px;
    background-color: #EEEEEE;
    width: auto;
    height: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.menu{
    position: absolute;
    right: 10px;
    top: 70px;
    background-color: white;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    display: none;
}

.menu ul{
    margin: auto;
    height: auto;
    width: auto;
    padding-left: 0px;
}

.menu ul li{
    list-style: none;
    align-items: center;
    display: flex;
    height: 30px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.menu ul li:hover{
    background-color: gray;
    color: white;
}

img[id='menu_icon']{
    height: 40px;
    border-radius: 5px;
    filter: invert(100%);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    margin-left: calc(100vw - 50px);
    z-index: 1000;
}

img[id='menu_icon']:hover{
    filter: none;
}

.del{
    margin: auto;
    height: calc(100vh - 20px);
    width: 100%;
    position: absolute;
    background: linear-gradient(to top, rgba(154, 146, 146, 0.8)50%, rgba(154, 146, 146, 0.8)50%);
    display: none;
    z-index: 1000;
}

.content0 {
    margin: auto;
    text-align: center;
}

input[value='Yes']{
    border-radius: 5px;
    border-width: 0px;
    background-color: #AFD788;
    transition: 0.2s ease;
    width: 50px;
    height: 25px;
    margin-right: 10px;
}

input[value='Yes']:hover{
    background-color: #367517;
    color: #EEEEEE;
}

input[value='No']{
    border-radius: 5px;
    border-width: 0px;
    background-color:#EE7C6B    ;
    transition: 0.2s ease;
    width: 50px;
    height: 25px;
}

input[value='No']:hover{
    background-color: #B2001F;
    color: #EEEEEE;
}

.main{
    display: flex;
    background-color: #070828;
    width: auto;
    height: calc(100vh - 20px);
}

.boxselect {
    margin-left: 10px;
    width: 310px;
    height: calc(100vh - 20px);
    background-color: #EEEEEE;
    display: flex;
}

.content{
    width: 310px;
    height: auto;
    margin: auto;
    padding-left: 7px;
}

.content h2{
    color: black;
    line-height: 35px
}

.content span{
    color: #ffffff;
    text-shadow: -1px -1px 2px #070828, 1px -1px 2px #070828, -1px 1px 2px #070828, 1px 1px 2px #070828;
}

.content p{
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.UserInput{
    font-size: 13px;
    width: 300px;
}


.style_for_input{
    font-size: 12px;
    width: 20%;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 10px;
    border-color: rgb(228, 220, 220);
    text-align: center;
}

.chooseOtherfiles{
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: white;
    width: auto;
    height: 25px;
    margin-top: 20px;
    display: none;
}

.chooseOtherfiles:hover{
    background-color:#070828;
    color: white;
}

.browse{
    font-size: 13px;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.browse:hover{
    background-color:#070828;
    color: white;
}

input[type='file']{
    display: none;
}

.demo {
    margin-left: 3px;
    margin-top: 0px;
    display: flex;
    width: calc(100vw - 320px);
}

.demo h1{
    margin-top: 60px;
    position: absolute;
    margin-left: 50px;
    color: white;
    text-shadow: -1px -1px 1px rgb(137, 135, 135), 1px -1px 1px rgb(137, 135, 135), -1px 1px 1px rgb(137, 135, 135), 1px 1px 1px rgb(137, 135, 135)
}

.result{
    margin: auto;
    height: 470px;
    width: calc(100vw - 323px);
    display: flex;
}

.Input{
    display: flex;
    height: auto;
    width: calc(100vw - 310px);
}

.Input img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.Input ul{
    margin: auto;
    display: none;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.Input ul li{
    align-items: center;
    display: list-item;
    height: 25px;
    border-radius: 10px;
    font-size: 13px;
}

li[id = "Green_light_time"]{
    list-style: none;
    font-weight: bold;
}

canvas{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid white;
    display: none;
    z-index: 1000;
}

.alt{
    margin: auto;
    height: auto;
    width: calc(100vw - 323px);
    display: block;
    font-size: 11px;
    position: absolute;
}

.Inputtext{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    color: white;
    display: none;
}

.Outputtext{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    color: white;
    display: none;
}

.ButtonImage{
    display: flex;
    width: calc(100vw - 323px);
    height: auto;
    position: absolute;
}

button[id='ProcessImage']{
    margin: auto;
    font-size: 13px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: #EEEEEE;
    display: none;
}

button[id='ProcessImage']:hover{
    background-color: #26274a;
    color: white;
}

button[id='RoadAnalyse']{
    margin: auto;
    font-size: 13px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: #EEEEEE;
    display: none;
}

button[id='RoadAnalyse']:hover{
    background-color: #26274a;
    color: white;
}

.processing_dots{
    width: 80px;
    height: 45px;
    background: rgb(163, 162, 162);
    border-radius: 70px;
    align-items: center;
    display: none;
    margin:auto;

}

.dots{
    width: auto;
    height: 30px;
    align-items: center;
    margin: auto;
    display: none;

}
.stdot{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 0px;
}

.nddot{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 0px;
}

.rddot{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    margin-bottom: 0px;
}