*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0%;
    height: 100vh;
    width: 100vw;
}

.blank{
    background-color: #070828;
    height: 10px;
}
.loadingBar{
    background-color: #070828;
    height: auto;
    width: 100vw;
}

.loading_bar{
    margin-left: 10px;
    background-color: #EEEEEE;
    width: auto;
    height: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.menu{
    position: absolute;
    right: 10px;
    top: 70px;
    background-color: white;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    display: none;
}

ul{
    margin: auto;
    height: auto;
    width: auto;
    padding-left: 0px;
    z-index: 1000;
}

ul li{
    list-style: none;
    align-items: center;
    display: flex;
    height: 30px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

ul li:hover{
    background-color: gray;
    color: white;
}


img[id='menu_icon']{
    height: 40px;
    border-radius: 5px;
    filter: invert(100%);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    margin-left: calc(100vw - 50px);
    z-index: 1000;
}

img[id='menu_icon']:hover{
    filter: none;
}

.main{
    display: flex;
    background-color: #070828;
    width: auto;
    height: calc(100vh - 20px);
}

.boxselect {
    margin-left: 10px;
    width: 270px;
    height: calc(100vh - 20px);
    background-color: #EEEEEE;
    display: flex;
}

.content{
    width: auto;
    height: auto;
    margin: auto;

}

.content h2{
    color: black;
}

.content p{
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p[id='first_range']{
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vehicleRange{
    font-size: 11px;
    display: flex;
    margin: 0px;
}


p[id='placeholderText3']{
    font-size: 11px;
    margin: auto;
}


input[id='vehicleRange']{
    width: 85%;
    height: 9px;
    margin-top: 10px;
    height: 5px;
    margin: auto;
}

.content span{
    color: #ffffff;
    text-shadow: -1px -1px 2px #070828, 1px -1px 2px #070828, -1px 1px 2px #070828, 1px 1px 2px #070828;
    line-height: 45px;
}
.config{
    font-size: 13.5px;
}

.browse{
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: white;
}

.browse:hover{
    background-color:#070828;
}

label{
    margin: 0;
    padding: 5px;
    font-size: 13px;
    transition: 0.3s ease-in-out;
    display: none;
    width: 80px;
    text-align: center;
}

label:hover{
    color: white;
}

input[type='file']{
    display: none;
}

input[class='chooseOtherfiles']{
    display: none;
}

.demo {
    margin-left: 3px;
    margin-top: 0px;
    display: flex;
    width: calc(100vw - 270px);
}

.demo h1{
    margin-top: 60px;
    position: absolute;
    margin-left: 50px;
    color: white;
    text-shadow: -1px -1px 1px rgb(137, 135, 135), 1px -1px 1px rgb(137, 135, 135), -1px 1px 1px rgb(137, 135, 135), 1px 1px 1px rgb(137, 135, 135)
}

.result{
    margin: auto;
    height: 350px;
    width: calc(100vw - 270px);
    display: flex;
}

.Input{
    display: flex;
    height: auto;
    width: calc(100vw - 270px);
}

.Input img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.Input video{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.del{
    margin: auto;
    height: calc(100vh - 20px);
    width: 100%;
    position: absolute;
    background: linear-gradient(to top, rgba(154, 146, 146, 0.8)50%, rgba(154, 146, 146, 0.8)50%);
    display: none;
    z-index: 1000;
}

.content0 {
    margin: auto;
    text-align: center;
}

input[value='Yes']{
    border-radius: 5px;
    border-width: 0px;
    background-color: #AFD788;
    transition: 0.2s ease;
    width: 50px;
    height: 25px;
    margin-right: 10px;
}

input[value='Yes']:hover{
    background-color: #367517;
    color: #EEEEEE;
}

input[value='No']{
    border-radius: 5px;
    border-width: 0px;
    background-color:#EE7C6B    ;
    transition: 0.2s ease;
    width: 50px;
    height: 25px;
}

input[value='No']:hover{
    background-color: #B2001F;
    color: #EEEEEE;
}

.chooseOtherfiles{
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: white;
    width: auto;
    height: 25px;
    margin-top: 20px;
}

.chooseOtherfiles:hover{
    background-color:#070828;
    color: white;
}


.ButtonImage{
    display: flex;
    width: calc(100vw - 280px);
    height: auto;
    position: absolute;
}

button[id='ProcessImage']{
    margin: auto;
    font-size: 13px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: #EEEEEE;
    display: none;
}

button[id='ProcessImage']:hover{
    background-color: #26274a;
    color: white;
}

.Output{
    display: none;
    height: 100%;
    width: calc((100vw - 270px)/2);
}

.Output img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.Output video{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.ButtonVideo{
    display: flex;
    width: calc(100vw - 280px);
    height: auto;
    position: absolute;
}

button[id='Pause']{
    margin: auto;
    font-size: 13px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: #EEEEEE;
    display: none;
    text-align: center;

}

button[id='Pause']:hover{
    background-color: #26274a;
    color: white;
}

.placeholderText2{
    margin: 0px;
}

button[id='ProcessVideo']{
    margin: auto;
    font-size: 13px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: #EEEEEE;
    display: none;
}

button[id='ProcessVideo']:hover{
    background-color: #26274a;
    color: white;
    border-color: white;
}

.alt{
    margin: auto;
    height: auto;
    width: calc(100vw - 280px);
    display: none;
    font-size: 11px;
    position: absolute;
}

.Inputtext{
    height: 100%;
    width: 50%;
    text-align: center;
    margin: auto;
    color: white;
    display: none;
}

.Outputtext{
    height: 100%;
    width: 50%;
    text-align: center;
    margin: auto;
    color: white;
    display: none;
}

.ButtonVideoRealtime{
    display: flex;
    width: calc(100vw - 280px);
    height: auto;
    position: absolute;
}

button[id='ProcessVideoRealtime']{
    margin: auto;
    font-size: 13px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    transition: 0.3s ease-in-out;
    background-color: #EEEEEE;
    display: none;
}

button[id='ProcessVideoRealtime']:hover{
    background-color: #26274a;
    color: white;
}

.processing_dots{
    width: 80px;
    height: 45px;
    background: rgb(163, 162, 162);
    border-radius: 70px;
    align-items: center;
    display: none;
    margin:auto;

}

.dots{
    width: auto;
    height: 30px;
    align-items: center;
    margin: auto;
    display: none;

}
.stdot{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 0px;
}

.nddot{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 0px;
}

.rddot{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    margin-bottom: 0px;
}