<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Traffic Lights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="menu">
        <ul>
            <li id="VD">Vehicle Detection</li>
            <li id="RA">Road Analysis</li>
            <li id="Demo">Automatic traffic light control</li>
        </ul>
    </div>

    <div class="main">
        <div class="navbar">
            <div class="header">
                <img id="traffic_icon" src="{{ url_for('static', filename = 'images/traffic_icon.png') }}">
                <h1 id="project_name">SMART TRAFFIC LIGHT DEMO</h1>
            </div>
            <img id="menu_icon" src="{{ url_for('static', filename = 'images/menulogo.jpg') }}" alt="Menu">
        </div>
    
        <div class="introduction" style = 
        "background: linear-gradient(to top, rgba(27, 18, 18, 0.671)100%, rgba(131, 129, 129, 0.578)100%), url('{{ url_for('static', filename = 'images/traffic.jpg') }}');     width: calc(100vw - 40px);
        background-position: center;
        background-size: cover;
        height: calc(100vh - 100px);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;  
        justify-content: left;">

            <div class="content">
                <h1 id="H1_content">Smart Lights, Smarter Roads: <br>
                    Revolutionizing Traffic with Computer Vision</h1>
                <p id="specific_content">Our project uses the Yolov5 model to detect and count traffic vehicles, 
                    combined with the street width, 
                    to flexibly adjust traffic light timings in real-time. 
                    This method allows us to extend or reduce the duration 
                    of green lights based on actual traffic conditions, 
                    optimizing traffic flow and effectively reducing congestion.</p>
            </div>
        </div>
    </div>
    <script src= "{{ url_for('static', filename = 'js/index.js') }}" ></script>
</body>
</html>