<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/road_analysis.css') }}">
</head>
<body>
    <div class="blank"></div>

    <div class="loadingBar">
        <div class="loading_bar"></div>
    </div>

    <div class="del">
        <div class="content0">
            <p>You want to demo on other file?</p>
            <input type="button" name="yes_or_no" value="Yes" onclick="yesClick()">
            <input type="button" name="yes_or_no" value="No" onclick="noClick()">
        </div>
    </div>

    <div class="main">

        <div class="boxselect">
            <div class="content">
                <h2>Algorithm for Calculating <br> <span>Vehicle-to-Road Ratio <br> Time to Traffic Light</span></h2>
                <div class = 'UserInput'>

                    <div style='display: flex'>
                        <div style='margin: auto;
                                margin-left: 0px;
                                margin-right: 7px'>Enter road length:</div>
                        <input class='style_for_input' type="number" value = '0' id="roadLength">
                        <div style='margin: auto;
                                margin-left: 7px'>km</div>    
                    </div> 
                    
                    <div style='display: flex'>
                        <div style='margin: auto;
                                margin-left: 0px;
                                margin-right: 7px'>Enter the minimum, average and <br> maximum speed of motorcycle:</div>
                        <input class='style_for_input' type="text" id="motorcycle_speed" value = '0, 0, 0'>
                        <div style='margin: auto;
                                margin-left: 7px'>km/h</div>    
                    </div>

                    <div style='display: flex'>
                        <div style='margin: auto;
                                margin-left: 0px;
                                margin-right: 7px'>Enter the minimum, average and <br> maximum speed of car:</div>
                        <input class='style_for_input' type="text" id="car_speed" value = '0, 0, 0'>
                        <div style='margin: auto;
                                margin-left: 7px'>km/h</div>    
                    </div>
                    
                </div>
                <h3>Image Config</h3>
                <input class="chooseOtherfiles" name="chooseOtherfiles" type="button" value="Choose another file..." onclick="checkFile()">
                <label for="file_upload" class="browse" >Browse files</label>
                <input type="file" id="file_upload" onchange="uploadImage()" accept = "image/*">
            </div>
        </div>

        <div class="demo">
            <h1>Road Analysis Demo</h1>

            <div class="result">
                <div class="Input">
                    <img id = 'InputImage' src =''>
                    <canvas id="canvas"></canvas>

                </div>
            </div>

            <div class="alt">
                <div class="Inputtext">
                    Before analyse
                </div>
                <div class="Outputtext">
                    After analyse
                </div>
            </div>

            <div class="ButtonImage">
                <button id="ProcessImage" onclick="ChoseLane()">Choose lane</button>
                <button id="RoadAnalyse" onclick="processImage()">Analyse Image</button>
                <div class="processing_dots">
                    <div class="dots">
                        <div class="stdot">
                        </div>
                        <div class="nddot">
                        </div>
                        <div class="rddot">
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='js/road_analysis.js') }}"></script>
</body>
</html>